{% extends 'blog/base.html' %}
{% load crispy_forms_tags %} 
 {% block title %}
   <title>Guideline</title> 
 {% endblock %}
 {% block content %}

<div class="content-section">

	<h1>Guidelines</h1>
   <ul>	 
   		<li>Usernames, posts and profile-info must not contain any profane, offensive, or derogatory terms</li>
   		<li>Posting of advertisements, promotions, and spam is prohibited</li>
   		<li>Please don’t post knowingly offensive slurs and discriminatory posts based on race, ethnicity, gender, physical and mental ability, sexual orientation, religion, culture, beliefs or politics. Derogatory statements of any kind are not allowed</li>
   		<li>No threats of any kind, personal attacks, or harassment</li>
   		<li>Do not encourage others to violate laws or harm property or people</li>
   		<li>Profanity is prohibited—whether blatant or censored with special characters</li>
   		<li>No inflammatory or libelous statements are alloweds</li>
   		<small><a href="{% url 'community:contact' %}">click here</a> to contact.</small>
   		</p>
   </ul>

</div>

{% endblock content %}
